__pycache__/
build/
dist/
writing_presets/text_presets/
writing_presets/session_presets/
writing_presets/theme_presets/
session_writing/writing_presets/session_settings.txt
Test folder/
Test folder 2/
Test folder 3/

1_spec_file.bat
2_exe_packing.bat
compile_ressources.bat
save_output.txt
session_writing.spec
session_writing_copy.spec.txt
session_writing.exe